In [70]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### A. Basic Data Cleaning
1. Read the file "Bank.csv", assign it a variable name "df" and display the first 5 lines.

In [71]:
# Import dataset
bank_data_to_load = "Bank.csv"

# Read dataset
bank_data_df = pd.read_csv(bank_data_to_load)

In [72]:
# Display the data table for preview
bank_data_df.head(5)

,Age,Experience,Income,Branch Address,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard,Advisor Name,Advisor Designation,Advisor Branch Addresses
0,50,24,11,234 Blue Spring Rd.,4,0.6,0,0,0,0,0,1,Carolin Whitmire,PFP,234 Blue Spring Rd.;533 Hillcrest Street;94 Co...
1,31,7,173,218 S. Westport Court,1,6,0,0,0,0,1,0,Marylee Bristow,PFP,218 S. Westport Court;9587 SW. Jefferson Stree...
2,41,16,10,9834 East Pineknoll Ave.,2,0.3,0,0,0,0,1,0,Corazon Eastin,PFP,336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...
3,53,27,44,7330 West Grand St.,4,1.5,0,0,0,0,0,0,Beatriz Rolf,PFP,7330 West Grand St.;91 Lake Court;7041 East Ma...
4,29,5,33,36 Kent Court,1,1.8,78,0,0,0,1,0,Zofia Rambo,PFP,40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.

2. Use `info` method to examine the data.

In [73]:
bank.shape # ensure rows (number of customers) and columns (number of variables) are correct

(4499, 15)

In [74]:
print(bank_data_df.shape)

(4499, 15)

In [75]:
bank.head() # look at data

,Age,Experience,Income,Branch Address,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard,Advisor Name,Advisor Designation,Advisor Branch Addresses
0,50,24,11,234 Blue Spring Rd.,4,0.6,0,0,0,0,0,1,Carolin Whitmire,PFP,234 Blue Spring Rd.;533 Hillcrest Street;94 Co...
1,31,7,173,218 S. Westport Court,1,6.0,0,0,0,0,1,0,Marylee Bristow,PFP,218 S. Westport Court;9587 SW. Jefferson Stree...
2,41,16,10,9834 East Pineknoll Ave.,2,0.3,0,0,0,0,1,0,Corazon Eastin,PFP,336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...
3,53,27,44,7330 West Grand St.,4,1.5,0,0,0,0,0,0,Beatriz Rolf,PFP,7330 West Grand St.;91 Lake Court;7041 East Ma...
4,29,5,33,36 Kent Court,1,1.8,78,0,0,0,1,0,Zofia Rambo,PFP,40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.

In [76]:
print(bank_data_df.head)

<bound method NDFrame.head of       Age  Experience  Income            Branch Address  Family CCAvg  \
0      50          24      11       234 Blue Spring Rd.       4   0.6
1      31           7     173     218 S. Westport Court       1     6
2      41          16      10  9834 East Pineknoll Ave.       2   0.3
3      53          27      44       7330 West Grand St.       4   1.5
4      29           5      33             36 Kent Court       1   1.8
...   ...         ...     ...                       ...     ...   ...
4494   57          33      43          336 Pin Oak Ave.       1   1.8
4495   62          37      19           9670 Wilson Rd.       3   0.5
4496   29           3      53       387 West Fifth Ave.       4   1.8
4497   42          18      43          336 Pin Oak Ave.       1   0.7
4498   60          34      38   7041 East Mammoth Drive       3   2.2

      Mortgage  Personal Loan  Brokerage Account  GIC Account  Online  \
0            0              0                  0            0       0
1            0              0                  0            0       1
2            0              0                  0            0       1
3            0              0                  0            0       0
4           78              0                  0            0       1
...        ...            ...                ...          ...     ...
4494         0              0                  0            0       0
4495        89              0                  0            0       0
4496         0              0                  0            0       1
4497       136              0                  0            0       0
4498         0              0                  1            0       0

      CreditCard      Advisor Name Advisor Designation  \
0              1  Carolin Whitmire                 PFP
1              0   Marylee Bristow                 PFP
2              0    Corazon Eastin                 PFP
3              0      Beatriz Rolf                 PFP
4              0       Zofia Rambo                 PFP
...          ...               ...                 ...
4494           0       Ross Seipel                 PFP
4495           0       Weston Jeon                 PFP
4496           0      Aleida Suitt                 PFP
4497           0    Corazon Eastin                 PFP
4498           0       Cecil Caves                 PFP

                               Advisor Branch Addresses
0     234 Blue Spring Rd.;533 Hillcrest Street;94 Co...
1     218 S. Westport Court;9587 SW. Jefferson Stree...
2     336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...
3     7330 West Grand St.;91 Lake Court;7041 East Ma...
4         40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.
...                                                 ...
4494  8376 Euclid Lane;336 Pin Oak Ave.;9834 East Pi...
4495  9587 SW. Jefferson Street;9670 Wilson Rd.;76 M...
4496  387 West Fifth Ave.;8536 Country Club Dr.;234 ...
4497  336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...
4498  7041 East Mammoth Drive;597 Lawrence Street;99...

[4499 rows x 15 columns]>

In [77]:
bank.info() # ensure no missing values, look at data types
# Issue: CCAvg should be an float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4499 entries, 0 to 4498
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       4499 non-null   int64
 1   Experience                4499 non-null   int64
 2   Income                    4499 non-null   int64
 3   Branch Address            4499 non-null   object
 4   Family                    4499 non-null   int64
 5   CCAvg                     4499 non-null   float64
 6   Mortgage                  4499 non-null   int64
 7   Personal Loan             4499 non-null   int64
 8   Brokerage Account         4499 non-null   int64
 9   GIC Account               4499 non-null   int64
 10  Online                    4499 non-null   int64
 11  CreditCard                4499 non-null   int64
 12  Advisor Name              4499 non-null   object
 13  Advisor Designation       4499 non-null   object
 14  Advisor Branch Addresses  4499 non-null   object
dtypes: float64(1), int64(10), object(4)
memory usage: 527.4+ KB

In [78]:
bank.describe()

,Age,Experience,Income,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard
count,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000
mean,45.268282,20.237831,74.303401,2.398088,1.951830,56.085575,0.106690,0.108691,0.064903,0.592132,0.296733
std,11.454680,11.316179,46.310561,1.147040,1.756476,101.788264,0.308754,0.311286,0.246383,0.491493,0.456868
min,23.000000,0.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,1.600000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,55.000000,30.000000,99.000000,3.000000,2.600000,99.500000,0.000000,0.000000,0.000000,1.000000,1.000000
max,67.000000,43.000000,224.000000,4.000000,10.000000,617.000000,1.000000,1.000000,1.000000,1.000000,1.000000

3. The values of column "CCAvg" is numeric but is stored as an object. Convert this column to numeric datatype.

In [79]:
# Check to see whether all values in 'CCAvg' column can be reassigned to float, print value if not
for obj in bank['CCAvg']:
    try:
        casted = float(obj)
    except:
        print('Invalid:', obj)

In [80]:
# Replace invalid object '2,00' with value 2.00
bank['CCAvg'] = bank['CCAvg'].replace(['2,00'], '2.00')

In [81]:
# Make each object in series a float
bank['CCAvg'] = bank['CCAvg'].astype(float)

In [82]:
# Check to ensure conversion worked
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4499 entries, 0 to 4498
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       4499 non-null   int64
 1   Experience                4499 non-null   int64
 2   Income                    4499 non-null   int64
 3   Branch Address            4499 non-null   object
 4   Family                    4499 non-null   int64
 5   CCAvg                     4499 non-null   float64
 6   Mortgage                  4499 non-null   int64
 7   Personal Loan             4499 non-null   int64
 8   Brokerage Account         4499 non-null   int64
 9   GIC Account               4499 non-null   int64
 10  Online                    4499 non-null   int64
 11  CreditCard                4499 non-null   int64
 12  Advisor Name              4499 non-null   object
 13  Advisor Designation       4499 non-null   object
 14  Advisor Branch Addresses  4499 non-null   object
dtypes: float64(1), int64(10), object(4)
memory usage: 527.4+ KB

In [83]:
# Replace invalid responses with None
for val in bank['Experience']:
    if val < 0:
        bank['Experience'].replace(val, None, inplace = True)

In [84]:
# Check to ensure replacement worked
print(bank['Experience'].describe())

count    4499.000000
mean       20.237831
std        11.316179
min         0.000000
25%        10.000000
50%        20.000000
75%        30.000000
max        43.000000
Name: Experience, dtype: float64

4. Obtain summary stats of all numeric columns.

In [95]:
bank.describe()

,Age,Experience,Income,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard
count,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000
mean,45.268282,20.237831,74.303401,2.398088,1.951830,56.085575,0.106690,0.108691,0.064903,0.592132,0.296733
std,11.454680,11.316179,46.310561,1.147040,1.756476,101.788264,0.308754,0.311286,0.246383,0.491493,0.456868
min,23.000000,0.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,1.600000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,55.000000,30.000000,99.000000,3.000000,2.600000,99.500000,0.000000,0.000000,0.000000,1.000000,1.000000
max,67.000000,43.000000,224.000000,4.000000,10.000000,617.000000,1.000000,1.000000,1.000000,1.000000,1.000000

5. Do the statistical summaries makes sense for all columns? If not, for which columns does it not make sense? Convert the data type of these columns to `category`. Then, run the method `describe` on categorical columns only.

In [129]:
bank["Income"] = bank["Income"].astype("category")

In [131]:
bank["Online"] = bank["Online"].astype("category")

In [132]:
bank.describe(include=["category"])

        Income  Online
count     4499    4499
unique     162       2
top         38       1
freq        76    2664

In [133]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4499 entries, 0 to 4498
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       4499 non-null   int64
 1   Experience                4499 non-null   int64
 2   Income                    4499 non-null   category
 3   Branch Address            4499 non-null   object
 4   Family                    4499 non-null   int64
 5   CCAvg                     4499 non-null   float64
 6   Mortgage                  4499 non-null   int64
 7   Personal Loan             4499 non-null   int64
 8   Brokerage Account         4499 non-null   int64
 9   GIC Account               4499 non-null   int64
 10  Online                    4499 non-null   category
 11  CreditCard                4499 non-null   int64
 12  Advisor Name              4499 non-null   object
 13  Advisor Designation       4499 non-null   object
 14  Advisor Branch Addresses  4499 non-null   object
dtypes: category(2), float64(1), int64(8), object(4)
memory usage: 475.7+ KB

6. Check the frequency of unique values in column "Advisor Designation".

In [134]:
bank["Advisor Designation"].value_counts()

PFP    3386
CFP    1113
Name: Advisor Designation, dtype: int64

7. Create a new column called "CFP", whose value is 1 if "Advisor Designation" column has value "CFP"  otherwise the value is 0. This is one way of creating dummy variable. Hint: Utilize `np.where` method.

In [147]:
a = nparray

In [154]:
bank_data_df["CFP"] = np.where(bank_data_df["Advisor Designation"] == "CFP",1,0)

In [172]:
print(CFP)

[0 0 0 ... 0 0 0]

In [160]:
bank_data_df.head(15)

,Age,Experience,Income,Branch Address,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard,Advisor Name,Advisor Designation,Advisor Branch Addresses,CFP
0,50,24,11,234 Blue Spring Rd.,4,0.6,0,0,0,0,0,1,Carolin Whitmire,PFP,234 Blue Spring Rd.;533 Hillcrest Street;94 Co...,0
1,31,7,173,218 S. Westport Court,1,6,0,0,0,0,1,0,Marylee Bristow,PFP,218 S. Westport Court;9587 SW. Jefferson Stree...,0
2,41,16,10,9834 East Pineknoll Ave.,2,0.3,0,0,0,0,1,0,Corazon Eastin,PFP,336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...,0
3,53,27,44,7330 West Grand St.,4,1.5,0,0,0,0,0,0,Beatriz Rolf,PFP,7330 West Grand St.;91 Lake Court;7041 East Ma...,0
4,29,5,33,36 Kent Court,1,1.8,78,0,0,0,1,0,Zofia Rambo,PFP,40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.,0
5,52,27,85,667 E. Hall St.,3,3.4,0,1,0,0,0,0,Eulah Kicklighter,PFP,667 E. Hall St.;68 Sunbeam St.;7330 West Grand...,0
6,62,36,69,234 Blue Spring Rd.,2,1.7,0,0,0,0,1,0,Gala Mackson,CFP,8536 Country Club Dr.;234 Blue Spring Rd.;533 ...,1
7,47,21,20,667 E. Hall St.,1,0.2,0,0,0,0,1,1,Marcelene Thomson,PFP,9251 Old Vernon St.;667 E. Hall St.;68 Sunbeam...,0
8,47,21,79,8378 West Magnolia Street,3,1.1,185,0,0,0,1,1,Kathaleen Horgan,PFP,9091 S. Bowman Street;8378 West Magnolia Stree...,0
9,48,23,70,8376 Euclid Lane,1,2.8,0,0,0,0,0,0,Estefana Dungan,PFP,92 Ridgewood Dr.;8376 Euclid Lane;336 Pin Oak ...,0
10,40,15,143,36 Kent Court,1,4.1,0,0,0,0,1,0,Zofia Rambo,PFP,40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.,0
11,60,36,195,8536 Country Club Dr.,1,4.7,0,0,0,0,1,0,Tanya Johansen,CFP,8536 Country Club Dr.;234 Blue Spring Rd.;533 ...,1
12,30,5,118,742 Bridle Street,4,3,0,1,0,0,1,0,Prudence Masters,CFP,9834 East Pineknoll Ave.;742 Bridle Street;544...,1
13,59,33,89,7330 West Grand St.,4,1.9,0,0,0,0,1,1,Beatriz Rolf,PFP,7330 West Grand St.;91 Lake Court;7041 East Ma...,0
14,42,18,115,94 Country Club St.,1,0.3,0,0,0,0,0,0,Mariana Ghent,CFP,94 Country Club St.;36 South St.;9091 S. Bowma...,1

In [173]:
print(bank['CFP'].describe())

count    4499.000000
mean        0.247388
std         0.431542
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: CFP, dtype: float64

8. Convert the datatype of columns with textual values to string.

In [187]:
bank["Branch Address"] = bank["Branch Address"].astype("string")

In [188]:
bank["Advisor Name"] = bank["Advisor Name"].astype("string")

In [189]:
bank["Advisor Branch Addresses"] = bank["Advisor Branch Addresses"].astype("string")

In [190]:
bank.describe(include=["string"])

,Branch Address,Advisor Name,Advisor Branch Addresses
count,4499,4499,4499
unique,43,49,43
top,24 Trusel Court,Donetta Mallet,597 Lawrence Street;9929 Thompson Lane;177 Win...
freq,159,111,196

In [191]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4499 entries, 0 to 4498
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       4499 non-null   int64
 1   Experience                4499 non-null   int64
 2   Income                    4499 non-null   category
 3   Branch Address            4499 non-null   string
 4   Family                    4499 non-null   int64
 5   CCAvg                     4499 non-null   float64
 6   Mortgage                  4499 non-null   int64
 7   Personal Loan             4499 non-null   int64
 8   Brokerage Account         4499 non-null   int64
 9   GIC Account               4499 non-null   int64
 10  Online                    4499 non-null   category
 11  CreditCard                4499 non-null   int64
 12  Advisor Name              4499 non-null   string
 13  Advisor Designation       4499 non-null   object
 14  Advisor Branch Addresses  4499 non-null   string
 15  CFP                       4499 non-null   int32
dtypes: category(2), float64(1), int32(1), int64(8), object(1), string(3)
memory usage: 493.3+ KB

9. Notice that "Advisor Branch Addresses" column has multiple addresses. Expand the column such that each address is in a new column. Add these columns to the dataframe with appropriate name.

10. Drop all original columns that now have duplicate information.

### B. Visual Data Exploration

Where applicable, please complete the codes provided by replacing items inside `<< >> `with appropriate code.

1. Create a box plot of "Age" column. Hint: Use `boxplot` method from `matplotlib` library. Also add title and axis labels using `title`, `xlabel` and `ylabel` mathods.Use `show` method to display the plot.

In [ ]:
plt.boxplot(<<INSERT OBJECT TO PLOT HERE>>) 
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

2. Create a histogram of "Income" column. Set value of parameter `bins` to 50. Give title and axis labels to the figure. Use `show` method to diplay the plot.

In [ ]:
plt.hist(<<INSERT OBJECT TO PLOT HERE>>, bins=<<INSERT NUMBER OF BINS>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

3. Create a bar plot that shows the number of customers who have banked online.

In [ ]:
df[<<INSERT COLUMN NAME HERE>>].value_counts().plot(kind=<<INSERT TYPE OF PLOT>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

The bank's main goal is to convert lenders into borrowers. For that, most of the analysis should be focused on identifying the differences between lenders and borrowers. 

4. Using `groupby` method, explore the make-up of customer with personal loan and GIC

5. Now take a look at how many customers accepted last campaign by age.

In [ ]:
df[<<INSERT COLUMN NAMES HERE>>].boxplot(by='Age')
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

6. Finally, take a look at how many customer accepted last campaign by their income level.

In [ ]:
df[<<INSERT COLUMN NAMES HERE>>].boxplot(by=<<INSERT COLUMN NAME HERE>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

7. Create a plot to visualize customer's income distribution for groups who accepted the campaign against those who did not. Hint: look up `density` plot.

In [ ]:
df.loc[<<INSERT LOGICAL EXPRESSION HERE>>,'Income'].plot(kind='kde', legend=True, label='Unsuccessful')
df.loc[<<INSERT LOGICAL EXPRESSION HERE>>,'Income'].plot(kind='kde', legend=True, label='Successful')
plt.title(<<INSERT PLOT TITLE>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

8. Create a boxplot of average spending on credit card per month grouped by customer who accepted and did not accept personal loan campaigns.

In [ ]:
df[<<INSERT COLUMN NAMES HERE>>].boxplot(by=<<INSERT COLUMN NAME HERE>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

### C. Business Analytics

1. How would you define a successful financial advisor? Based on that description, create a KPI "conversion rate". Who are your top 10 most successful financial advisors?

2. Perform additional analysis to help you figure out which clients are most likely to convert on personal loan and which financial advisor should be allocated to convert them.