In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### A. Basic Data Cleaning
1. Read the file "Bank.csv", assign it a variable name "df" and display the first 5 lines.

In [4]:
# Import dataset
bank = pd.read_csv("Bank.csv")

2. Use `info` method to examine the data.

In [5]:
bank.shape # ensure rows (number of customers) and columns (number of variables) are correct
bank.head() # look at data

,Age,Experience,Income,Branch Address,Family,CCAvg,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard,Advisor Name,Advisor Designation,Advisor Branch Addresses
0,50,24,11,234 Blue Spring Rd.,4,0.6,0,0,0,0,0,1,Carolin Whitmire,PFP,234 Blue Spring Rd.;533 Hillcrest Street;94 Co...
1,31,7,173,218 S. Westport Court,1,6,0,0,0,0,1,0,Marylee Bristow,PFP,218 S. Westport Court;9587 SW. Jefferson Stree...
2,41,16,10,9834 East Pineknoll Ave.,2,0.3,0,0,0,0,1,0,Corazon Eastin,PFP,336 Pin Oak Ave.;9834 East Pineknoll Ave.;742 ...
3,53,27,44,7330 West Grand St.,4,1.5,0,0,0,0,0,0,Beatriz Rolf,PFP,7330 West Grand St.;91 Lake Court;7041 East Ma...
4,29,5,33,36 Kent Court,1,1.8,78,0,0,0,1,0,Zofia Rambo,PFP,40 E. Dunbar Ave.;36 Kent Court;69 Spruce Dr.

3. The values of column "CCAvg" is numeric but is stored as an object. Convert this column to numeric datatype.

In [6]:
bank.info() # ensure no missing values, look at data types
# Issue: CCAvg should be an float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4499 entries, 0 to 4498
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       4499 non-null   int64
 1   Experience                4499 non-null   int64
 2   Income                    4499 non-null   int64
 3   Branch Address            4499 non-null   object
 4   Family                    4499 non-null   int64
 5   CCAvg                     4499 non-null   object
 6   Mortgage                  4499 non-null   int64
 7   Personal Loan             4499 non-null   int64
 8   Brokerage Account         4499 non-null   int64
 9   GIC Account               4499 non-null   int64
 10  Online                    4499 non-null   int64
 11  CreditCard                4499 non-null   int64
 12  Advisor Name              4499 non-null   object
 13  Advisor Designation       4499 non-null   object
 14  Advisor Branch Addresses  4499 non-null   object
dtypes: int64(10), object(5)
memory usage: 527.4+ KB

In [7]:
bank.describe() 
# Issue: experience has an invalid minimum value (-3.00)

,Age,Experience,Income,Family,Mortgage,Personal Loan,Brokerage Account,GIC Account,Online,CreditCard
count,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000,4499.000000
mean,45.268282,20.028895,74.303401,2.398088,56.085575,0.106690,0.108691,0.064903,0.592132,0.296733
std,11.454680,11.461481,46.310561,1.147040,101.788264,0.308754,0.311286,0.246383,0.491493,0.456868
min,23.000000,-3.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,55.000000,30.000000,99.000000,3.000000,99.500000,0.000000,0.000000,0.000000,1.000000,1.000000
max,67.000000,43.000000,224.000000,4.000000,617.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Convert 'CCAvg' to float, print value if not
for obj in bank['CCAvg']:
    try:
        casted = float(obj)
    except:
        print('Invalid:', obj) # One invalid: Invalid: 2,00

Invalid: 2,00

4. Obtain summary stats of all numeric columns.

5. Do the statistical summaries makes sense for all columns? If not, for which columns does it not make sense? Convert the data type of these columns to `category`. Then, run the method `describe` on categorical columns only.

6. Check the frequency of unique values in column "Advisor Designation".

7. Create a new column called "CFP", whose value is 1 if "Advisor Designation" column has value "CFP"  otherwise the value is 0. This is one way of creating dummy variable. Hint: Utilize `np.where` method.

8. Convert the datatype of columns with textual values to string.

9. Notice that "Advisor Branch Addresses" column has multiple addresses. Expand the column such that each address is in a new column. Add these columns to the dataframe with appropriate name.

10. Drop all original columns that now have duplicate information.

### B. Visual Data Exploration

Where applicable, please complete the codes provided by replacing items inside `<< >> `with appropriate code.

1. Create a box plot of "Age" column. Hint: Use `boxplot` method from `matplotlib` library. Also add title and axis labels using `title`, `xlabel` and `ylabel` mathods.Use `show` method to display the plot.

In [ ]:
plt.boxplot(<<INSERT OBJECT TO PLOT HERE>>) 
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

2. Create a histogram of "Income" column. Set value of parameter `bins` to 50. Give title and axis labels to the figure. Use `show` method to diplay the plot.

In [ ]:
plt.hist(<<INSERT OBJECT TO PLOT HERE>>, bins=<<INSERT NUMBER OF BINS>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

3. Create a bar plot that shows the number of customers who have banked online.

In [ ]:
df[<<INSERT COLUMN NAME HERE>>].value_counts().plot(kind=<<INSERT TYPE OF PLOT>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

The bank's main goal is to convert lenders into borrowers. For that, most of the analysis should be focused on identifying the differences between lenders and borrowers. 

4. Using `groupby` method, explore the make-up of customer with personal loan and GIC

5. Now take a look at how many customers accepted last campaign by age.

In [ ]:
df[<<INSERT COLUMN NAMES HERE>>].boxplot(by='Age')
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

6. Finally, take a look at how many customer accepted last campaign by their income level.

In [ ]:
df[<<INSERT COLUMN NAMES HERE>>].boxplot(by=<<INSERT COLUMN NAME HERE>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

7. Create a plot to visualize customer's income distribution for groups who accepted the campaign against those who did not. Hint: look up `density` plot.

In [ ]:
df.loc[<<INSERT LOGICAL EXPRESSION HERE>>,'Income'].plot(kind='kde', legend=True, label='Unsuccessful')
df.loc[<<INSERT LOGICAL EXPRESSION HERE>>,'Income'].plot(kind='kde', legend=True, label='Successful')
plt.title(<<INSERT PLOT TITLE>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

8. Create a boxplot of average spending on credit card per month grouped by customer who accepted and did not accept personal loan campaigns.

In [ ]:
df[<<INSERT COLUMN NAMES HERE>>].boxplot(by=<<INSERT COLUMN NAME HERE>>)
plt.title(<<INSERT PLOT TITLE>>)
plt.ylabel(<<INSERT LABEL FOR Y-AXIS>>)
plt.xlabel(<<INSERT LABEL FOR X-AXIS>>)
plt.show()

### C. Business Analytics

1. How would you define a successful financial advisor? Based on that description, create a KPI "conversion rate". Who are your top 10 most successful financial advisors?

2. Perform additional analysis to help you figure out which clients are most likely to convert on personal loan and which financial advisor should be allocated to convert them.